main.editor {
  width: min(60ch, calc(100% - 2rem));
  margin: 4rem auto;
}

.empty::after {
  content: attr(data-placeholder);
  user-select: none;
  display: inline-block;

  color: var(--color-gray-400);
}

.empty {
  display: inline-block;
  br {
    display: none;
  }
}

[contenteditable],
[contenteditable]:focus {
  outline: none;
}

#editor-title {
  border: none;
  font-size: 2.5rem;
  font-weight: 700;
  background: none;
  padding: 0;
  display: block;
  box-sizing: border-box;
  max-width: 100%;

  &::placeholder {
    color: var(--color-gray-400);
  }

  &:focus {
    outline: none;
  }
}