.block-list {

    button {
        background: none;
        border: none;
    }


    fieldset {
        border: none;
        display: flex;
        padding: 0.5rem;

    }

    input {
        flex: 1;
        border-radius: 4px;
        font-size: 1rem;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }

    input[name='short'] {
        font-family: var(--font-mono);
        text-transform: uppercase;
        max-width: 5ch;
        color: var(--color-gray-500);
    }
}

.abbrev-decorator::after {
    content: '→';
    color: var(--color-gray-500);
    margin-right: 1ch;
}



.block-list {

    li:focus-within,
    &:not(:focus-within) li:hover,
    li:has(.abbrev-popup) {
        .abbrev-more {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            transition: all 0.2s ease;
            cursor: pointer;
        }
    }

    .abbrev-popup {
        position-anchor: --button;
        top: anchor(bottom);
        right: anchor(right);
        left: unset;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: var(--color-gray-150);
        color: inherit;
        border: 1px solid var(--color-gray-200);
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        label {
            padding: 0.25rem;
            align-items: center;
            justify-content: start;
            position: relative;

            display: grid;
            grid-template-columns: auto 1fr;
        }
        
        input {
            margin-right: 1.5rem;
               grid-template-columns: 1;
               display: block;
               width: 100%;
            appearance: none;
        }

        input::before {
            content: '';
            border: 1.5px solid var(--color-gray-200);
            border-radius: 0.25rem;
            position: absolute;
            width: 1rem;
            height: 1rem;
            left: 0.25rem;
            top: 1ch;
            grid-template-columns: 1;  
        }

        input:checked::after {
            content: '';
            background-color: var(--color-gray-900);
            border-radius: 0.25rem;
            position: absolute;
            width: 1rem;
            height: 1rem;
            left: 0.25rem;
            top: 1ch;
  
        }

        p {
            grid-column: 2;
            color: var(--color-gray-500);
            font-size: 0.875rem;
            max-width: 35ch;
        }


        button {
            background-color: var(--color-gray-200);
            place-content: center;
            display: grid;
            border-radius: 0.25rem;
            padding: 0.25rem;
        }
    }



    .abbrev-more {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.2s ease;
        background: none;
        border: none;
        anchor-name: --button;
    }
}

button.abbrev-add {
    color: var(--color-gray-500);
    text-align: left;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 6rem;
    background: none;
    border: none;
}


.abbrev-popup {
    display: grid ;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}