.block-list {

    button {
        background: none;
        border: none;
    }


    fieldset {
        border: none;
        display: flex;
        padding: 0.5rem;

    }

    input {
        flex: 1;
        border-radius: 4px;
        font-size: 1rem;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }

    input[name='short'] {
        font-family: var(--font-mono);
        max-width: 6ch;
        color: var(--color-gray-500);
    }
}

.abbrev-decorator::after {
    content: '→';
    color: var(--color-gray-500);
    margin-right: 1ch;
}

button.abbrev-add {
    color: var(--color-gray-500);
    text-align: left;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 6rem;
    background: none;
    border: none;
}

button.abbrev-del {
    display: inline;
}