/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  --font-mono: 'JetBrains Mono', monospace;
  --color-gray-50: oklch(0.984 0 247.858);
  --color-gray-100: oklch(0.968 0 247.896);
  --color-gray-150: oklch(0.938 0 252.896);
  --color-gray-200: oklch(0.929 0 255.508);
  --color-gray-300: oklch(0.869 0 252.894);
  --color-gray-400: oklch(0.704 0 256.788);
  --color-gray-500: oklch(0.554 0 257.417);
  --color-gray-600: oklch(0.446 0 257.281);
  --color-gray-700: oklch(0.372 0 257.287);
  --color-gray-800: oklch(0.279 0 260.031);
  --color-gray-900: oklch(0.208 0 265.755);
  --color-gray-950: oklch(0.129 0 264.695);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-950: oklch(0.984 0 247.858);
    --color-gray-900: oklch(0.968 0 247.896);
    --color-gray-800: oklch(0.929 0 255.508);
    --color-gray-700: oklch(0.869 0 252.894);
    --color-gray-600: oklch(0.704 0 256.788);
    --color-gray-500: oklch(0.554 0 257.417);
    --color-gray-400: oklch(0.446 0 257.281);
    --color-gray-300: oklch(0.372 0 257.287);
    --color-gray-200: oklch(0.279 0 260.031);
    --color-gray-150: oklch(0.23 0 265.152);
    --color-gray-100: oklch(0.208 0 265.755);
    --color-gray-50: oklch(0.129 0 264.695);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}